.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #cccccc;
  transition: 0.2s;
  text-align: center;

  &:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(29, 161, 242, 0.3);
  }
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgb(150, 150, 150);
    color: black;
  }
}

.error {
  color: rgb(74, 23, 23);
  font-size: 0.85rem;
  text-align: center;
}